fastapi
uvicorn
sqlalchemy
sqlmodel
alembic
psycopg2-binary
psycopg
python-dotenv
pydantic
pydantic-settings
email-validator
passlib[bcrypt]
python-jose
httpx
sentry-sdk
jinja2
pytest
tenacity
PyJWT
emails
python-multipart 